.dashboard-container {
    padding         : 24px;
    height          : calc(100vh - 80px - 48px);
    background-color: #151419;
    overflow-y      : scroll;
    ;
}

.title {
    font-size    : 32px;
    font-weight  : 600;
    margin-bottom: 32px
}